<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.EWB_Tonibung.mcbcalculator">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/leaf_logo_light"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/leaf_logo_light"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".AWG_mm2_converter"
            android:configChanges="orientation"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <!-- CABLE RATINGS -->
        <activity
            android:name=".CableRatings"
            android:configChanges="orientation"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity> <!-- MCB RATINGS -->
        <activity
            android:name=".MCBRatings"
            android:configChanges="orientation"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity> <!-- MCB and CABLE FOR LOAD - INPUT SCREEN -->
        <activity
            android:name=".SizeforLoad_results"
            android:configChanges="orientation"
            android:launchMode="singleTop"
            android:parentActivityName=".SizeforLoad_input_data"
            android:screenOrientation="portrait">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SizeforLoad_input_data" />
        </activity> <!-- MCB and CABLE FOR LOAD - INPUT SCREEN -->
        <activity
            android:name=".SizeforLoad_input_data"
            android:configChanges="orientation"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity> <!-- MCB FOR CABLE- RESULT SCREEN -->
        <activity
            android:name=".SizeMCB_results"
            android:configChanges="orientation"
            android:parentActivityName=".SizeMCB_input_data"
            android:screenOrientation="portrait">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SizeMCB_input_data" />
        </activity> <!-- MCB FOR CABLE- INPUT SCREEN -->
        <activity
            android:name=".SizeMCB_input_data"
            android:configChanges="orientation"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity> <!-- CABLE FOR MCB- RESULT SCREEN -->
        <activity
            android:name=".SizeCable_results"
            android:configChanges="orientation"
            android:parentActivityName=".SizeCable_input_data"
            android:screenOrientation="portrait">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SizeCable_input_data" />
        </activity> <!-- CABLE FOR MCB- INPUT SCREEN -->
        <activity
            android:name=".SizeCable_input_data"
            android:configChanges="orientation"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity> <!-- INVERTER CABLE AND MCB REQUIREMENT SCREEN -->
        <activity
            android:name=".Inverter_results"
            android:configChanges="orientation"
            android:parentActivityName=".Inverter_input_data"
            android:screenOrientation="portrait">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Inverter_input_data" />
        </activity> <!-- CHARGE CONTROLLER CABLE AND MCB REQUIREMENT SCREEN -->
        <activity
            android:name=".PV_results"
            android:configChanges="orientation"
            android:parentActivityName=".PV_input_data"
            android:screenOrientation="portrait">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PV_input_data" />
        </activity> <!-- INVERTER DATA INPUT SCREEN -->
        <activity
            android:name=".Inverter_input_data"
            android:configChanges="orientation"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity> <!-- PV PANELS DATA INPUT SCREEN -->
        <activity
            android:name=".PV_input_data"
            android:configChanges="orientation"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity> <!-- APP MAIN SCREEN -->
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>